<section>
    <nav class="flex justify-between items-center p-6 fixed top-0 left-0 right-0 z-50 shadow-md bg-white">
        <div class="flex items-center hover:cursor-pointer" routerLink="/">
            <img class="object-cover mr-2 mt-[-1em] max-w-8 max-h-8" src="../../../assets/android-chrome-512x512.png" alt="logo" />
            <p class="font-[poppins] text-[2rem] text-blue-600 font-bold">PageBook</p>
        </div>
        <div class="">
            <button routerLink="login-page"
                class="mr-3 font-[poppins] text-base border-2 pr-3 pl-3 pt-2 pb-2 rounded-md font-bold bg-sky-600 hover:bg-sky-900 hover:ease-in-out hover:transition-all text-white">Login</button>
            <button routerLink="register-page"
                class="border-2 font-[poppins] text-base pr-3 pl-3 pt-2 pb-2 rounded-md font-bold bg-sky-600 hover:bg-sky-900 hover:ease-in-out hover:transition-all text-white">SignUp</button>
        </div>
    </nav>
</section>